.mb {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background: url("/main-page-slider/1.min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  .brand-box {
    width: 220px;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: scale(0.8);
    animation: brand .5s ease-out .5s forwards;
  }

  .brand {
    width: 100%;
    transform: scale(1);
    shape-rendering: crispEdges;
  }

  .brand-box:after {
    position: absolute;
    content: 'B2B' !important;
    left: 100%;
    bottom: 80%;
  }

  .about {
    margin-top: 40px;
    padding: 5px 10px;
    background: #eef8;
    font-size: 14px;
    animation: about .5s ease-out 1s forwards;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    backdrop-filter: blur(10px) saturate(150%);
    //font-style: italic;

    div:not(:first-child) {
      margin-top: 5px;
    }
  }

  .login-box {
    opacity: 0;
    animation: about .5s ease-out 2s forwards;
    margin-top: 50px;
  }

  .login-box-btn {
    box-shadow: none;
    border: 2px solid #507279 !important;
    background: #ffffffb0 !important;
  }

  .table-label {
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
  }
}
