.mb {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;

  background: url("/main-page-slider/1.min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  .brand-box {
    width: 200px;
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: scale(0.8);
    animation: brand .5s ease-out .5s forwards;
  }

  .brand {
    width: 100%;
    transform: scale(1);
    shape-rendering: crispEdges;
  }

  .brand-box:after {
    position: absolute;
    content: 'B2B' !important;
    left: 100%;
    bottom: 80%;
  }

  .about {
    font-size: 18px;
    animation: about .5s ease-out 1s forwards;
    opacity: 0;
    margin-bottom: 50px;
  }

  .table-label {
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .table-box {
    width: 100%;
    background: #ffffffd0;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    opacity: 0;
    animation: table-box .5s ease-out 1.5s forwards;
  }

  .m-table {
    width: 100%;

    .m-caption {
      text-align: center;
      padding: 10px;
    }

    td:nth-child(3n) {
      font-style: italic;
      opacity: 0.8;
      font-size: 15px;
    }

    td {
      padding: 2px 3px;
    }
  }
}
